#logsPage
{

}

/* Removes default blue borders.  */
.text-area
{
    -fx-background-color: #fff, #fff;
}

.text-area .content
{
    -fx-background-color: #fff;
}

.text-area:focused .content
{
    -fx-background-color: #fff;
}
/* */

.button
{
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
    -fx-border-radius: 0px;
}

.button:focused
{
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
    -fx-border-radius: 0px;
}

#eventLogsButton
{
     -fx-background-insets: 0 0 -1 0, 0, 1, 2;
}